@model IEnumerable<WebApplication4.Models.Singer>

<h2>Singers</h2>

<ul>
    @foreach (var singer in Model)
    {
        <li>@singer.FirstName @singer.LastName</li>
    }
</ul>

<h3>Add Singer</h3>
@using (Html.BeginForm("AddSinger", "People", FormMethod.Post))
{
    <label for="FirstName">First Name</label>
    <input type="text" name="FirstName" />

    <label for="LastName">Last Name</label>
    <input type="text" name="LastName" />

    <button type="submit">Add</button>
}
