@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the People Management Site</h2>

<ul>
    <li>@Html.ActionLink("Actors", "Actors", "People")</li>
    <li>@Html.ActionLink("Singers", "Singers", "People")</li>
    <li>@Html.ActionLink("Footballers", "Footballers", "People")</li>
</ul>
